/*  ROXO #50619F
    VERDE #538960
    BRANCO #F0F0F0
    PRETO #323232*/

.destaque-titulo{
    font-weight: 900;
    color: #538960;
}
/*Inicio*/
#inicio{
    background: linear-gradient(to bottom, rgba(32,32,32,0.8),rgba(32,32,32,0.3)), url('../_img/disposição\ dos\ lixos\ fase\ 1.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    padding: 10vh;
    border-bottom: 50px solid #50619F;
}
#inicio img{
    width: 40%;
    height: auto;
    display: block;
    margin: 0 auto;
}
/*introdução*/
#introducao{
    padding: 50px 0;
    height: 60vh;
    display: flex;
    align-items: center;
}
#introducao h2, #gameplay h2{
    text-transform: uppercase;
    color: #323232;
    font-weight: 400;
}
/*gameplay*/
#gameplay{
    border-top: 50px solid #50619F;
    padding: 50px 0;
    display: flex;
    align-items: center;
}
.carousel{
    margin: 50px 0 0 0;
}